a {
    text-decoration: none;
    color: inherit;
}
.recipe-card img {
    aspect-ratio: 1;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 100%;
    /* padding: 10px; */
    display: block;
}

.recipe-results-container {
    margin: 5% 7%;
    background-color: #fff7f4;
    border-radius: 8px;
}
.recipe-container {
    display: flex;
    justify-content: center;
}

#search-req{
    padding: 10px 50px;
}
.recipe-card {
  margin: 1.5%;
  border-radius: 8px;
  width: 250px;
  height: 325px;
  background-color: #ffe9e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.recipe-card:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all .3s ease;
}
.recipe-card:hover img {
    opacity: 100%;
    transition: all 0.3s ease;
}
.recipe-title {
    text-align: center;
    justify-content: center;
    padding: 10px 30px;
}
.recipe-title h4 {
    font-size: 16px;
    color: black;
}
.detail-link {
    font-size: 14px; /* 14px */
    padding: 0.75rem; /* 12px */
    margin-top: 20px; /* 20px */
    padding-left: 32px; /* 32px */
    padding-right: 32px; /* 32px */
    border-radius: 12px; /* 12px */
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.8px; /* 0.8px */
    display: inline-block;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: #000;
    color: #fff;
  }