button {
    margin-left: 400px;
    margin-bottom: 50px;
}

.ingredients {
    display: block;
    margin-left: 400px;
    gap: 0.75rem;
    font-weight: 600;
    color: #000000;
}

.description {
    font-weight: 600;
    color: #000000;

}

.recipe-image {
    display: block;
    object-fit: cover;
    width: 50%;
    height: 50%;
    overflow: hidden;
    border-radius: 0.75rem;

    margin-top: 30px;
    margin-left: 100px;
}

.recipe-image :hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all .3s ease;
}

.recipe-detail-card {
    background-color: rgb(210, 252, 146);
    display: grid;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.5rem;
}

.recipe-detail-container {
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
    padding-bottom: 50px;
    background-color: rgb(210, 251, 150);
    border-radius: 10px;
    /* align-content: center;
    align-items: center;
    justify-content: center; */
}

.save {
    font-size: 14px;
    /* 14px */
    padding: 0.75rem;
    /* 12px */
    margin-top: 20px;
    /* 20px */
    padding-left: px;
    /* 32px */
    padding-right: 32px;
    /* 32px */
    border-radius: 12px;
    /* 12px */
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.8px;
    /* 0.8px */
    display: inline-block;

    background-color: #000;
    color: #fff;
}

.recipe {
    margin-left: 250px;
    margin-top: -350px;


}